@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Mulish", sans-serif;
}

:root{
    --main-color:rgb(255, 84, 0);
    --text-color:rgb(255, 255, 255);
    --p-color:rgba(19, 19, 24, 0.7);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo h1{
    font-size: 36px;
    font-weight: 800;
}
.logo span{
    color: var(--main-color);
}

nav ul{
    display: flex;
    gap:30px;
    list-style: none;
}

nav ul li a{
    font-size: 18px;
    font-weight: 500;
    color: rgb(66, 66, 71);
}
nav ul li a.active{
    color: var(--main-color);
}
nav ul li a:hover{
    color: var(--main-color);
}
nav .icon i{
    color: black;
    cursor: pointer;
    display: none;
}

#click{
    display: none;
}

/* hero section */
.hero{
    width: 80%;
    margin: auto;
}

.banner{
    height:100vh;
    background-size:cover;
    border-radius: 10px;
    padding: 0 10%;
    background-repeat: no-repeat;
    background-image:linear-gradient(to bottom, rgba(7, 2, 17, 0.903),rgba(61, 53, 61, 0) 70%), url("Images/Group\ 13\ \(1\)\ \(1\).png");
    text-align: center; 
}
.banner h1{
    padding-top:18% ;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 800;
}

.banner p{
    color:rgba(242, 236, 236, 0.826);
    font-size: 16px;
    padding-top: 20px;
}
.banner .search{
    padding: 20px 20px;
    background-color: rgba(214, 215, 215, 0.424);
    border-radius: 5px;
    margin-top: 50px;
    display: flex;
    gap:10px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.banner .search input{
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.popular{
    padding: 80px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.context{
    width: 60%;
}
.context h1{
    font-size: 40px;
    font-weight: 800;
}

.context  li{
    padding-top : 30px ;
    color: var(--p-color);
    font-size: 16px;
    font-weight: 400;
    color: #131318;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px; 
}
.context .btn1{
    color: var(--text-color);
    font-weight: 700;
    background: var(--main-color);
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    
}

.img-mout{
    text-align: end;
    width: 50%;
}
.img-mout img{
    width: 100%;
    
}


/* grid section */
.location , .choose{
    padding: 40px 10%;
    text-align: center;
}
.location h1, .choose h1,.deals h1{
    font-size: 40px;
    font-weight: 800;
}
.location p, .deals p{
    font-size: 16px;
    font-weight: 400;
    color: var(--p-color);
    padding: 20px 10%;
}
.gridd .flex1{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 50% auto;
    gap: 15px;
    color: var(--text-color);
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    
}

.flex1 .maldiv{
    background: url("Images/Rectangle\ 5.png");
    padding-top: 145px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    height:300px;
    transition: all ease-in-out .6s;
    
}
.flex1 .maldiv:hover{
    transform: scale(1.06);
}
.flex1 .indo{
    background: url("Images/Rectangle\ 8.png");
    padding-top: 145px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    height: 300px;
    transition: all ease-in-out .6s;
}
.flex1 .indo:hover{
    transform: scale(1.06);
}
.gridd .flex2{

    font-size: 28px;
    font-weight: 800;
    text-align: center;
    display: grid;
    gap: 15px;
    margin-top: 15px;
    color: var(--text-color);
    grid-template-columns: 300px auto 230px;
}
.flex2 .srilaka{
    background: url("Images/Rectangle\ 6.png");
    padding-top: 145px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    height:300px;
    transition: all ease-in-out .6s;
}
.flex2 .srilaka:hover{
    transform: scale(1.06);
}
.flex2 .north{
    background: url("Images/Rectangle\ 7.png");
    padding-top: 145px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    height: 300px;
    transition: all ease-in-out .6s;
}
.flex2 .north:hover{
    transform: scale(1.06);
}

.flex2 .kasmir{
    background: url("Images/Rectangle\ 9.png");
    padding-top: 145px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    height: 300px;
    transition: all ease-in-out .6s;
}
.flex2 .kasmir:hover{
    transform: scale(1.06);
}

 .gridd .flex3{
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    display: grid;
    gap: 15px;
    margin-top: 15px;
    color: var(--text-color);
    grid-template-columns:400px auto;
}

.flex3 .bangla{
    background: url("Images/Rectangle\ 9.png");
    padding-top: 145px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    height: 300px;
    transition: all ease-in-out .6s;
}
.flex3 .bangla:hover{
    transform: scale(1.06);
}

.flex3 .bandar{
    background: url("Images/Rectangle\ 10.png");
    padding-top: 145px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    height: 300px;
    transition: all ease-in-out .6s;
}
.flex3 .bandar:hover{
    transform: scale(1.06);
}


/* Choose us section */

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
     justify-content: center;
     
 }

 .card h1{
     font-size: 24px;
     font-weight: 800;
     padding: 20px 0;
 }
 .card p{
     font-size: 16px;
     font-weight: 400;
     color: var(--p-color);
     color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
 
 }
 
 .card{
     width: 48%;
     height: 274px;
     border-radius: 16px;
     text-align: left;
     padding: 40px;
 
 }
 
 /* deals section */
 .deals{
     text-align: center;
    
 }
 
 .box{
     width:80% ;
     height: 450px;
     margin: 40px auto;
     border-radius: 16px;
     background-size: cover;
     background-repeat: no-repeat;
     display: flex;
     align-items: center;
     justify-content: center;
 
 }
 .box div{
     text-align:center;
     padding:20px ;
     width: 70%;
     background: rgba(255, 255, 255, 0.526);
     border: 1px solid red;
     border-radius: 10px;
 }
 button {
     color: var(--text-color);
     font-size: 16px;
     font-weight: 600;
     background: var(--main-color);
     border: none;
     border-radius: 5px;
     padding: 8px 20px;
     transition: all ease-in-out .3s;
 }
 button:hover{
     transform: scale(1.05);
 }
 .video-mout{
     width: 50%;
 }
 .text{
    color: #0a0a0a;
text-align: center;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 150% */
 }
 
 video{
     width: 100%;
     background-size:cover;
     border-radius: 10px;
 }
 

 /* newsletter */
.newsletter{
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
   
}
.newsletter .texts{
    width: 43%;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    padding: 30px;
}
.newsletter .texts .form{
    margin-top: 40px;
    display: grid;
    gap: 10px;
}
.newsletter .texts .form input{
    padding: 8px;
    border-radius: 8px;
    border: none;
    background: rgba(19, 19, 24, 0.05);
}
.newsletter .img{
    width: 55%;
    position: relative;
    top: 0;
    right: 0;

}
.newsletter .image{
    width: 100%;
    
}

.coupon{
    position: absolute;
    right:8px;
    bottom:50px;
    text-align: center;
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 10px;
    padding: 30px 30px;
    transform: rotate(-30deg);
}


/* footer */
.foot-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

footer{
    text-align: center;
    height: 340px;
    background: rgba(19, 19, 24, 0.05);
}


.client{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 10%;
    justify-content: center;
}
.rev{
    background: rgba(245, 243, 241, 0.541);
    text-align: center;
    height: 200px;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(128, 125, 125, 0.068);
}

.rev img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}



/* responsive */

@media screen and (max-width:1024px) {
    nav ul li a{
        font-size: 16px;
        font-weight: 500;
    }
    .logo h1{
        font-size: 26px;
        font-weight: 700;
    }
    .context{
        width: 100%;
    }
    .popular{
        flex-direction: column;
        row-gap: 20px;

    }
    .popular .img-mout{
        width: 100%;
    }
    .gridd .flex1,.gridd .flex2,.gridd .flex3{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
   .flex1 .maldiv,.flex1 .indo,.flex2 .srilaka,.flex2 .north,.flex2 .kasmir,.flex3 .bangla,.flex3 .bandar{
        height: 176px;
        padding: 80px;
        font-size: 20px;
    }
    .card{
        width: 100%;
    }
    .video-mout{
        width: 100%;
    }

    .newsletter{
        flex-direction: column;
        row-gap: 20px;
    }
    .newsletter .texts, .newsletter .img{
        width: 100%;
    }
    .coupon h3{
        font-size: 12px;
    }
    .coupon h1{
        font-size: 16px;
    }

}

/* responsive  for tab */




@media screen and (max-width:600px) {
    nav ul{
        position: fixed;
        top:80px;
        right:-100% ;
        background: rgb(225, 214, 214);
        height: 50vh;
        display: block;
        width: 30%;
        text-align: left;
        padding: 20px;
        box-shadow: -5px 10px  rgba(247, 243, 243, 0.45);
        transition: all ease-in-out .3s;
    }
    nav li{padding-bottom: 20px;}
    nav .icon i{
        display: block;
    }
    #click:checked ~ ul{
        right: 0;
    }

    .banner h1{
        padding-top:20% ;
        font-size: 1.8rem;
        color: var(--text-color);
        font-weight: 600;
    }
    .banner p{
        color:rgba(242, 236, 236, 0.826);
        font-size: 10px;
        padding-top: 14px;
    }
    .banner .search{
        display:flex;
        flex-direction: column;
        width: 200px;
        margin: 0 auto;
        row-gap: 15px;
        margin-top: 20px;
        padding: 8px;
    }
    .search>div{
        background-color: var(--text-color);
        color: var(--p-color);
        display: flex;
        align-items: center;
        width:150px;
        height: 30px;
        font-size: 12px;
    }
    .popular{
        flex-direction: column;
        row-gap: 20px;

    }
    .popular .img-mout{
        width: 100%;
    }
    .context{
        width: 100%;
    }
    .context h1{
        font-size:33px;
    }
    .location h1{
        font-size: 22px;
    }
    .location p{
        font-size: 12px;
    }

     .gridd .flex1,.gridd .flex2,.gridd .flex3{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
   .flex1 .maldiv,.flex1 .indo,.flex2 .srilaka,.flex2 .north,.flex2 .kasmir,.flex3 .bangla,.flex3 .bandar{
        height: 176px;
        padding: 80px;
        font-size: 20px;
    }
     .box h1{
        font-size: 18px;
     }
     .box h2{
        font-size: 16px;
     }
     .box p{
        font-size: 10px;
     }
     .box div{
        padding:10px 5px;
     }

    .cards{
        flex-direction: column;
    }
    .card{
        width: 100%;
    }

    .video-mout{
        width: 100%;
    }

    .newsletter{
        flex-direction: column;
        row-gap: 20px;
    }
    .newsletter .texts, .newsletter .img{
        width: 100%;
    }
    .coupon h3{
        font-size: 8px;
    }
    .coupon h1{
        font-size: 12px;
    }


}
